body{font-family: sans-serif;color: #666;font-size: 13px;margin: 0;background:#F9F9F9;}
a:link, a:visited {color:#999;text-decoration:none;}
a:hover{color:#ccc;}
a img { border-width:0; }#wrapper{width: 100%;margin: 0 auto;background: #fff;}
/* -- SEO TEXT -- */
.seotext {margin:0 auto;width: 100%;text-align:center;position:relative;z-index:999;
background-image:-webkit-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#222 100%);
  background-image:-moz-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#222 100%);
  background-image:-ms-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#222 100%);
  background-image:-o-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#222 100%);
  background-image:linear-gradient(top,#181a1c 0%,#3d3e40 50%,#222 100%);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  color: #FFF;}
.seotext img{overflow:hidden;text-align:center;position:relative;z-index:999;margin:0 auto;}
.description {word-wrap:break-word;overflow:hidden;
margin:0 auto;text-align:center;position:relative;}
.title {font-size: 21px;line-height: 1.4em;margin:0 auto;text-transform: uppercase;}
.title a {font-size: 21px;line-height: 1.4em;margin:0 auto;text-transform: uppercase;}

/* -- MAIN SET -- */
.clear {clear: both;}
.quickedit{display:none;}
.date-header {display: none !important;}
#main-wrapper {margin: 0;width: 100%;float: left;padding:0;word-wrap: break-word;overflow: hidden;}
#main {padding: 0 15px; }
.main .Blog { border-bottom-width: 0;}
.post h1 {font-size: 1.1em;float:center;text-align: center;border: 2px solid #ccc;border-radius:5px;line-height:1.5em;background: #F6F6F6;}
.post {margin: 0 0 .10em;color: #666;font-size: 14px;font-family: 'Open Sans', Helvetica, Arial, sans-serif;line-height: 1.1em;}
.post-body {margin: 0;line-height: 1.3em;text-align:justify;}
.post-body blockquote { line-height:1.3em; }
.post-body a{color:#65BDDF;text-decoration:none}
.post-body img, .post-body video, .post-body object {max-width: 100%;float:center;}
.post table{width:100%;text-align:left}
.post tr{width:100%}
.post td{background: #FAFAFA; border:1px solid #fff; padding:5px 10px;}
.post td.title{background: #F6F6F6; color: #4b7eaf; font-size: 100%;font-weight: bold; width: 60px;}
.post td.detail{background: #FAFAFA; padding: 5px 10px}
.post td.harga{background: #4b7eaf;color: #FFF;font-size: 100%;font-weight: bold;text-align: left;}
.post td.listharga{color: #4b7eaf; font-weight: bold;text-align: left;}
.post td.img3{text-align: center; width: 33%;font-size: 10px;}
.post blockquote{border-left:2px solid #E3E3E3;margin:1em;padding:0 5px}

/* Tombol Share set */
.section{margin:0}#share-button{width:100%;max-width:431px;margin:0 auto;padding:0;overflow:hidden;text-transform:uppercase;font-size:12px}
#share-button p{font-size:100%;float:left;background:#1abc9c;display:block;padding:5px 20px;margin:2px;color:#fff;border-radius:5px}#share-button a{position:relative;float:left;display:block;color:#fafafa;padding:5px 20px;margin:2px;border-radius:5px}#share-button a:hover{background:#626e7c!important}

/* -- SIDEBAR SET -- */
#sidebar-wrapper {width: 100%;float: left;word-wrap: break-word;overflow: hidden;}
#sidebar-wrapper h2, #sidebar-wrapper h3, #sidebar-wrapper h4 {margin: 0;
text-transform: uppercase;line-height:2.5em;padding-left: 15px;font-size: 12px;}
.sidebar ul{padding: 15px;margin: 0px;}.widget-content {margin: 0;overflow: hidden;}
.sidebar ul li {list-style-position: inside;list-style-type: circle;margin-bottom:0px;padding: 5px 0 0 0 !important;border-bottom: 2px solid #ccc;
background:url(http://1.bp.blogspot.com/-601hSSi13rQ/Vm2qhmT1tqI/AAAAAAAAK2c/gqX_fui3JLs/s320/panah.png) right 10px no-repeat;}
.sidebar img{float: left;max-width: 50px;max-height: 40px;transition: all 0.2s linear 0s;margin: 0;margin-right: 0px;padding:10px 0;}
.sidebar ul li a{}
.sidebar a:hover{}
.sidebar .widget{margin:0;padding: 0;}

/* Popular */
.PopularPosts .item-title a {font-size:17px;font-weight:bold;margin:2px;padding: 20px 0 0 0;display: block;}
.PopularPosts .item-snippet {display: none!important;font-size: 90%;color: #555;max-height: 0px;overflow: hidden;}
.PopularPosts ul li img{float: left;width: 100%;max-width: 50px;max-height: 40px;transition: all 0.2s linear 0s;margin: 0;margin-right: 0px;padding:10px 0;}
.PopularPosts .widget-content ul li {list-style-type: none;
border-bottom:0px  line-height:86px; margin:0px 0 3px;padding:0px 2px;}
.BlogArchive #ArchiveList ul li {text-indent: 0 !important;}
/* label */
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {font-size:100%;filter:alpha(100);opacity:10}.cloud-label-widget-content{text-align:left}
.label-size{display:block;float:left;border:1px solid #ccc;margin:2px 1px;}
.label-size a,.label-size span{display:inline-block;padding:5px 8px;}
.label-size:hover{background:#eee;}.label-count{white-space:nowrap;padding-right:6px;
margin-left:-3px;}.label-size{line-height:1.2}
/* -- BREADCRUMBS SET -- */
.breadcrumbs {text-align:center;margin:0 auto;border-radius:0px 0px 30px 30px;
color: #666;border-bottom: 2px solid #ccc;background:#ddd;}
.breadcrumbs a {color: #666;}
/* -- FOOTER SET -- */
.post-footer {line-height: 1.6em;}
.post-footer a {color: #65BDDF;}
#footer {font-size: 90%;margin: 0 auto;padding: 7px;border-top: 1px solid #bbb;
color: #fff;}#footer a {color:#fff;}
/* -- BLOGPAGER SET -- */
#blog-pager-newer-link{float:left}
#blog-pager-older-link{float:right}
#blog-pager{text-align:center}
.feed-links { clear: both; line-height: 2.5em;display:none;}
.home_menu {background:url(http://1.bp.blogspot.com/-xrtUfyPYscQ/T_rX4TeTPGI/AAAAAAAABl4/TSoglJcs2Ps/s1600/Viva-Blogspot.png) 0px -579px;width: 10px;height: 10px;margin: 15px 5px;float: left;}#layout ul {display: none;}
/*-----Drop Down Menu ----*/
#footer-bg,#sidebar-wrapper h1,#sidebar-wrapper h2, #sidebar-wrapper h3, #sidebar-wrapper h4,#menu{margin:0 auto;
background-image:-webkit-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:-moz-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:-ms-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:-o-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  color: #FFF;width:100%;}
/*-- menu ---*/
#menu a{color: #FFF;}
#menu{height: 30px;
text-transform: uppercase;
font-size: 95%;}
#menu ul.menus{
background: #235AD9;
height: auto;
overflow: hidden;
position: absolute;
z-index: 99;
display: none;}
#menu a{display: block;
line-height: 30px;
padding: 0 10px;
text-decoration: none;}
#menu ul,#menu li{margin:0 auto;padding:0 0;list-style:none;}
#menu ul{height:30px;}
#menu li{float: left;
display: inline;
position: relative;
font: bold 0.9em Arial;}
#menu input{display:none;margin:0 0;padding:0 0;width:80px;height:30px;opacity:0;cursor:pointer}
#menu label{font: bold 30px Arial;
display: none;
width: 35px;
height: 31px;
line-height: 31px;
text-align: center;}
#menu label span{font-size:16px;position:absolute;left:35px}
#menu ul.menus li{
display: block;
width: 100%;
font:normal 0.8em Arial;
text-transform: none;
text-shadow: none;
border-bottom: 1px dashed #31AFDB;}
#menu ul.menus a{
color: #FFF;
line-height: 35px;}
#menu li a:hover{
background: #202020;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;}
#menu li:hover ul.menus{display:block;}
#menu ul.menus a:hover{
background: #202020;
color: #FFF;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;}
/* -- SEARCH -- */
#searchThis{padding:15px; margin:0 auto;float:center;}
.searchBox{position:relative;border:1px solid #000000;margin:5px auto; padding:7px;width:100%;-moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; border-radius:4px;}
.searchBox:hover{ -webkit-box-shadow:0 1px 3px #efefef inset;   -moz-box-shadow:0 1px 3px #efefef inset;   -o-box-shadow:0 1px 3px #efefef inset;   box-shadow:0 1px 3px #efefef inset;   border-color:#a0a0a0}
.searchBox:focus{ -webkit-box-shadow:0 1px 3px #cfcfcf inset;   -moz-box-shadow:0 1px 3px #cfcfcf inset;   -o-box-shadow:0 1px 3px #cfcfcf inset;   box-shadow:0 1px 3px #cfcfcf inset;   border-color:#000000}

.button:hover,.button,.download2:hover,.download2 {margin-bottom:2px ;width:100%;  color:#fff;border-radius:4px;border:0px;
line-height:2.2em;font-size: 14px;}
.button,.download2{word-wrap: break-word;overflow: hidden;
background-image:-webkit-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:-moz-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:-ms-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:-o-linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  background-image:linear-gradient(top,#181a1c 0%,#3d3e40 50%,#212121 100%);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  color: #FFF;width:100%;}
.button:hover,.download2:hover{word-wrap: break-word;overflow: hidden;
  background-image:-webkit-linear-gradient(top,#ccc 0%,#3d3e40 50%,#212121 100%);
  background-image:-moz-linear-gradient(top,#ccc 0%,#3d3e40 50%,#212121 100%);
  background-image:-ms-linear-gradient(top,#ccc 0%,#3d3e40 50%,#212121 100%);
  background-image:-o-linear-gradient(top,#ccc 0%,#3d3e40 50%,#212121 100%);
  background-image:linear-gradient(top,#ccc 0%,#3d3e40 50%,#212121 100%);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0 1px #515151;}

/* -- SET FOR STATUS MESSAGE -- */
.status-msg-body{padding:10px 0 ; display:none}
.status-msg-wrap{display:none; font-size:14px; margin-left:1px;  width:100%; color:#666;  }
.status-msg-wrap a{color:orange !important;  }
.status-msg-bg{display:none; background:#ccc; position:relative; width:99%; padding:6px; z-index:1;-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:2px #999 solid }
.status-msg-border{display:none; border:0; position:relative; width:99%}
/*-----Responsive Drop Down Menu ----*/
@media screen and (max-width: 800px){
#menu{position:relative}
#menu ul{background:#235AD9;position:absolute;top:100%;left:0;z-index:3;height:auto;display:none}
#menu ul.menus{width:100%;position:static;padding-left:20px}
#menu li{display:block;float:none;width:auto; font:normal 0.8em Arial;}
#menu input,#menu label{position:absolute;top:0;left:0;display:block}
#menu input{z-index:4}
#menu input:checked + label{color:white}
#menu input:checked ~ ul{display:block}}
/* -- RESPONSIVE -- */
@media screen and (min-width: 1300px){
.post h1{font-size: 130%;}}
@media screen and (max-width: 1024px) {
.post h1{font-size: 130%;}}
@media screen and (max-width: 992px) {}
@media screen and (min-width:801px){}
@media screen and (max-width:800px){
#wrapper {width: 90%;}
#footer-bg {width: 90%;}
img,video,object {max-width: 100%;}
#sidebar-wrapper{width:100%;}
.searchBox{width:98%;}
.iframe{width:98%;}
.script{width:98%;}
.button{width:98%;}
.download2{width:98%;}
#main-wrapper{width:64%;}
.post-thumbnail {width: 100px;}
.PopularPosts .item-snippet {font-size: 100%;}
.seotext img{text-align:center;margin:0 auto;}
.description,.seotext {text-align:center;float:center;}}
@media only screen and (max-width:768px){
#sidebar-wrapper{width:100%;}
#main-wrapper{width:100%;}
.searchBox{width:98%;}
.iframe{width:98%;}
.script{width:98%;}
.button{width:98%;}
.script{width:98%;}
.download2{width:98%;}
.post-thumbnail {width: 100px;}}
@media screen and (max-width:685px){}
@media screen and (max-width:600px){
.post-info {display:none;}
.post-thumbnail {width: 50px;height: 50px;}
.status-msg-border{width:97%}
.post h2{font-size:100%;}}
@media screen and (max-width:480px){
.comments .comments-content .user{line-height:2.8em;}
.post h2{font-size:100%;}
.post h1{font-size: 120%;}
body, .body-fauxcolumn-outer {font-size: 80%;}}
@media screen and (max-width:380px){
.comments {display:none}}
@media screen and (max-width:320px){
.terkait ul {padding: 0;list-style-type: none;}
.post blockquote {margin:5px;}}
@media screen and (max-width:240px){
body, .body-fauxcolumn-outer {font-size: 70%;}}
.post-link-fa{float:right;text-transform: uppercase;font-size: 50px;
margin-right:auto;margin-left:auto;margin-top:-47px;margin-bottom:-58px ;}
.post-link-fa :visited {color: #ccc;text-decoration:none;}
/*-------------------recent posts & related posts---------------------*/
#related_posts ul li {list-style: none;}
#related_posts img {padding-top:5pxfloat: left;margin-top: -10px;margin-right: 3px;padding:0px;padding-left: 0px;width:100%;max-width: 50px;max-height: 40px;height: 100%;}
#related_posts a{word-wrap:break-word;font-weight:bold;font-size:17px;display:block;margin:0;padding-top:5px;padding: 12px 0 0 0;}
#related_posts p { margin:5px 5px 0; }
ul#random-posts {list-style:none;}
#random-posts li {list-style: none;}
#random-posts img {float: left;margin: 0px;margin-right: 3px;padding:0;margin-top: 3px;padding-left: 0px;width:100%;max-width: 50px;max-height: 40px;height:100%;}
#random-posts a{word-wrap:break-word;font-weight:bold;font-size:17px;display:block;margin:0;padding: 9px ;padding-bottom: 15px;margin-top: 5px;}
ul#items,ul#items
li{list-style-type:none}.ui-menu,ol#pagination
li{float:left;list-style:none} .song-list{margin-bottom:10px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px
solid #e8e8e8;background-color:#F2F1FE}.song-list,.song-list1{overflow:hidden;border-radius:5px}.song-list:hover{background-color:#E6E3FD}.song-list1{margin:10px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px
solid #e8e8e8;background-color:#fffff}ul#items{padding:0;margin:0}ol#pagination{overflow:hidden;margin:10;padding-left:5px}ol#pagination
li{color:#fff;border:1px
solid #36C;background:#00F;background:-webkit-gradient(linear,left top,left bottom,from(#06F),to(#09F));background:-moz-linear-gradient(top,#06F,#09F);filter:progid:dximagetransform.Microsoft.gradient(startcolorstr=&#39;#0066FF&#39;, endcolorstr=&#39;#0099FF&#39;);cursor:pointer;margin:0
0 0 .5em;padding:5px
7px;text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}ol#pagination
li.current{color:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#09F),to(#06F));background:-moz-linear-gradient(top,#09F,#06F);filter:progid:dximagetransform.Microsoft.gradient(startcolorstr=&#39;#0099FF&#39;, endcolorstr=&#39;#0066FF&#39;)}ol#pagination li:hover{background:#f47c20;background:-webkit-gradient(linear,left top,left bottom,from(#06F),to(#009));background:-moz-linear-gradient(top,#06F,#009);filter:progid:dximagetransform.Microsoft.gradient(startcolorstr=&#39;#0066FF&#39;,endcolorstr=&#39;#000099&#39;)}
/*!@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
 * Bootswatch v3.1.1
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;background:url(/images/fbg.jpg)}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0}mark{background:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}code,kbd,pre,samp{font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}@media
print{*{text-shadow:none!important;color:#000!important;background:0 0!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:&quot; (&quot; attr(href) &quot;)&quot;}abbr[title]:after{content:&quot; (&quot; attr(title) &quot;)&quot;}a[href^=&quot;javascript:&quot;]:after,a[href^=&quot;#&quot;]:after{content:&quot;&quot;}blockquote,pre{border:1px
solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff!important}.navbar{display:none}.table td,.table
th{background-color:#fff!important}
.btn&gt;.caret,.dropup&gt;.btn&gt;.caret{border-top-color:#000!important}.label{border:1px
solid #000}.table{border-collapse:collapse!important}.table-bordered td,.table-bordered
th{border:1px
solid #ddd!important}}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
box-sizing:border-box;}
@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding:5px
1px;float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:0}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:0}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}
@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:0}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:0}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}
@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:0}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:0}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}
.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive
object{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
.embed-responsive.embed-responsive-16by9{padding-bottom:20%}.embed-responsive.embed-responsive-4by3{padding-bottom:60%}
